

<!--Important note: we need to include the first '/' to tell
it that we are including it from the root directory/js/...-->
<!--My own files-->
<script src="/js/updateStateMethods.js" type="text/javascript"></script>

</body>
</html>
