<% include partials/header %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/stylesheets/loginPage.css" rel="stylesheet">

<div class="container loginUserCard">
	<br>
	<div class="card">
		<div>
			<h5 class="card-header">Welcome to Aether</h5>
			<br>
			<h5>Powered by</h5>
			<img src = "/images/spotifyLogoGreen.png" alt = "Spotify Icon" height="100">
		</div>
		<div class="card-body">
			<h5 class="card-title">Aether lets you listen to your music with your friends.</h5>
			<p class="card-text">Click the button below to login to your Spotify account.</p>
		</div>
		<div class="loginUserCard">
			<a href="/login/loginUser" id="loginBtn">Login</a>
		</div>
		<br>
	</div>
</div>

<% include partials/footer %>
